<section>
    <h2>BLOG</h2>
    <select (change)="onChange($event)">
        <option selected disabled>Filter by category</option>
        <option value="all">Get all</option>
        <option *ngFor="let category of arrCategories" [value]="category">{{category}}</option>
    </select>
    <div class="flex">
        <article *ngFor="let post of arrPosts">
            <figure>
                <img [src]="post.image" [alt]="post.category">
            </figure>
            <div>
                <small>{{post.author}}</small>
                <h3>{{post.title}}</h3>
                <p> <span>Description:</span> {{post.text}}</p>
                <small>{{post.category}}🔖</small>
            </div>
        </article>
    </div>
</section>