/* 
:root {
    --Dark-Blue: hsl(217, 28%, 15%);
      intro and email sign up background
    Dark-Blue-Background
      main background
    Dark-Blue-Footer
      footer background
    Dark-Blue-Article
     testimonials background 
    Cyan
     inside call-to-action gradient 
    Blue 
     inside call-to-action gradient 
    Light-Red 
     error 
     */


nav ul {
    background-color: var(--Dark-Blue);
    color: white;
    font-family: 'Raleway';
    font-weight: 400;
    height: 150px;
    display: flex;
    /* justify-content: space-between; */
}

nav ul figure img {
    width: 140px;
    height: 140px;
    transition: 1s;
    cursor: pointer;
}

nav ul figure img:hover {
    padding: 5px;

}

nav ul div.links {
    display: flex;
    list-style: none;
    margin: 30px;
    gap: 30px;

}

nav ul div.links li {
    transition: 1s;
    text-shadow: 1px 1px 2px black;
}

nav ul div.links li:hover {
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2em;
}